footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width:100%;
    min-height: 170px;
    text-align: center;
}

img {
    z-index: -5;
    -webkit-filter: drop-shadow(5px 5px 5px #fff);
    filter: drop-shadow(5px 5px 5px #fff);
}

small {
    color: #000;
    text-shadow: 10px 50px 60px rgb(15, 69, 130);
}

a {
    text-decoration: none;
    color: rgb(75, 98, 215);
}