main {
    margin: 1vh 30px 40px 30px;
    padding: 6vh 40px 10px 40px;
    text-align: center;
}

h1 {
    color: #000;
    font-size: 7vh;    
    font-weight: bold;
    text-shadow: 1px 5px 10px #fff;
    padding-bottom: 12px;
}

p, span {
    color: #fff;
    font-size: 3.4vh;
    font-weight: bold;
    text-shadow: 1px 5px 10px #000;
}

ul {
    color: #000;
    padding-bottom: 30px;;
}

li {
    font-size: 3.2vh;
    text-shadow: 1px 5px 10px #fff;
    list-style-type:none;
    padding: 5px;
    margin: 10px;
    border-radius: 44px;
    background-color: rgb(196, 228, 255);
    opacity: 0.8;
}

span {
    text-decoration: none;
    cursor: pointer;
}

#food-store-results a {
    color:rgb(19, 7, 87);    
    text-decoration: none;
    text-shadow: 1px 5px 10px #000;
}