main {
    margin: 10vh 30px 40px 30px;
    padding: 10vh 40px 10px 40px;
    min-height: 72vh;
    text-align: center;
}

h1 {    
    font-weight: bold;
    text-shadow: 1px 5px 10px #fff;
    margin-top: 15px;
}

p {
    color: #fff;
    font-size: 2.4vh;
    font-weight: bold;
    text-shadow: 1px 5px 10px #000;
}

#squid, #eggs {
    z-index: -99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    z-index: -99;
}

img {
    border-radius: 150px;
    height: 150px;    
    z-index: -99;
}

#squidBox {
    opacity: 0;
}